<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sportsmeet.mapper.SysUserMapper">
    <select id="findByUsername" resultType="com.sportsmeet.entity.SysUser">
        SELECT id, username, password, real_name, create_time FROM sys_user WHERE username = #{username}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (username, password, real_name) VALUES (#{username}, #{password}, #{realName})
    </insert>
</mapper>